html {
  font-family: 'Albert Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 24px;
  }
}

$first-black-color: #191623;
$second-black-color: #666270;
$first-white-color: #FFFFFF;
$second-white-color: #E6DDFF;
$purple-color: #6637EE;
$orange-color: #FD5D11;
$yellow-color: #FFFAE9;


.text-align-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

.text {
  font-size: 18px;
  line-height: 28px;
  &_black {
    color: $first-black-color;
  }
  &_grey {
    color: $second-black-color;
  }
  &_white {
    color: $first-white-color;
  }
  &_light-purple {
    color: $second-white-color;
  }
  &_purple-grey {
    color: #C3BFD0;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.title {
  font-weight: 600;
  font-size: 54px;
  line-height: 64px;
  &_black {
    color: $first-black-color;
  }
  &_white {
    color: $first-white-color;
  }
  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 36px;
  }
}

.container {
  padding-right: 135px;
  padding-left: 135px;
  @media screen and (min-width: 678px) and (max-width: 1279px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media screen and (max-width: 767px) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.theme {
  &_yellow {
    background-color: $yellow-color;
  }
  &_purple {
    background-color: $purple-color;
  }
  &_purple-white {
    background: linear-gradient(to bottom, #6637EE 0%, #6637EE 50%, #FFFFFF 50%, #FFFFFF 100%);
  }
  &_black {
    background-color: $first-black-color;
  }
}

.button {
  cursor: pointer;
  background-color: $orange-color;
  color: $first-white-color;
  border-radius: 6px;
  &:hover {
    text-decoration: none;
  }
}

.nav {
  display: flex;
  &__logo {
    display: flex;
    gap: 6px;
  }
  &__menu {
    display: flex;
    gap: 42px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 21px;
    }
    @media screen and (max-width: 767px) {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: auto;
      margin-left: auto;
      padding: 10px 0;
      gap: 10px;
    }
    &_is-opened {
      @media screen and (max-width: 767px) {
        display: flex !important;
      }
    }
  }
  &__button {
    padding: 8px 26px;
    font-size: 16px;
    line-height: 26px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__burger-menu-icon {
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}

.hamburger {
  width: 18px;
  height: 16px;
  cursor: pointer;
  &__bar {
    transition-property: transform;
    transition-duration: 0.3s;
    transform-origin: center;
    stroke: black;
    stroke-width: 10%;
    &_top {
      transform: translateY(-40%);
    }
    &_bot {
      transform: translateY(40%);
    }
  }
}

.is-opened {
  & .hamburger__bar_top {
    transform: rotate(45deg);
  }
  & .hamburger__bar_mid {
    transform: scaleX(0.1);
  }
  & .hamburger__bar_bot {
    transform: rotate(-45deg);
  }
}

.header {
  &__content {
    padding-bottom: 110px;
    @media screen and (max-width: 767px) {
      padding-bottom: 55px;
    }
  }
  &__top {
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    margin-bottom: 92px;
    @media screen and (max-width: 767px) {
      margin-bottom: 26.92px;
    }
  }
  &__row-images {
    justify-content: space-between;
    column-gap: 2%;
    margin-bottom: 55px;
    @media screen and (max-width: 767px) {
      margin-bottom: 26.92px;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 124px;
    line-height: 114px;
    letter-spacing: -0.02em;
    max-width: 970px;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      font-size: 36px;
      line-height: 46px;
    }
  }
  &__text {
    max-width: 970px;
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
      margin-bottom: 28px;
    }
  }
  &__image {
    min-width: 0;
    &:nth-child(even) {
      padding-top: 5%;
    }
  }
  &__scroll-image {
    margin: 0 auto;
    @media screen and (max-width: 1279px) {
      margin-left: 0;
      margin-top: 55px;
    }
  }
}

.row {
  display: flex;
}

.menu {
  &__link {
    font-size: 16px;
    line-height: 26px;
    color: $first-black-color;
  }
}

.logo {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: $first-black-color;
  &:hover {
    text-decoration: none;
  }
}

.search-form {
  @media screen and (max-width: 1279px) {
    flex-direction: column;
  }
  &__body {
    background-color: $first-white-color;
    max-width: 723px;
    padding: 32px 20px;
    border-radius: 6px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width: 767px) {
      justify-content: flex-start;
    }
  }
  &__input {
    width: 204px;
    padding: 11px 38px 11px 11px;
    outline: 1px solid #D6D4DD;
    border: 0;
    border-radius: 6px;
    color: $second-black-color;
    background-image: url(/assets/img/magnifier.svg);
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
    font-size: 16px;
    line-height: 26px;
  }
  &__select {
    width: 223px;
    outline: 1px solid #D6D4DD;
    padding: 11px 11px 11px 11px;
    border: 0;
    border-radius: 6px;
    color: $second-black-color;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background-image: url("/assets/img/vector1.svg");
    background-repeat: no-repeat;
    background-position: right 22px top 50%;
    font-size: 16px;
    line-height: 26px;
  }
  &__button {
    padding: 11px 18px 11px 22px;
    font-size: 16px;
    line-height: 26px;
    display: inline-flex;
    gap: 20px;
  }
}

.feature {
  & h2 {
    padding-bottom: 20px;
    @media screen and (max-width: 767px) {
      padding-bottom: 12px;
    }
  }
  &__position-order {
    justify-content: space-between;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      flex-direction: column;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    &_pb-big {
      padding-bottom: 150px;
      @media screen and (max-width: 767px) {
        padding-bottom: 100px;
      }
    }
    &_ai-center {
      align-items: center;
    }
  }
  &__text-content_width-470 {
    max-width: 470px;
  }
  &__numbers {
    justify-content: center;
    column-gap: 150px;
    row-gap: 28px;
    margin-top: 70px;
    padding-bottom: 150px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding-bottom: 55px;
      margin-top: 38px;
    }
  }
  &__message-block {
    position: absolute;
    display: inline-block;
    background-color: $first-white-color;
    box-shadow: 14px 4px 24px rgb(102 55 238 / 7%);
    border-radius: 12px;
    padding: 1.5em 2.6em;
    right: 0;
    bottom: 3em;
    & picture {
      display: inline-block;
      width: 3.33em;
      height: 3.33em;
      position: relative;
      &::after {
        content: "";
        width: 26.6%;
        height: 26.6%;
        background: #00CE7C;
        outline: 1px solid $first-white-color;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        @media screen and (max-width: 767px) {
          bottom: -30%;
          right: -20%;
        }
      }
    }
  }
  &__image-block {
    padding-right: 3em;
    @media screen and (max-width: 767px) {
      margin-bottom: 38px;
    }
    & > img {
      object-fit: cover;
      width: 100%;
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 80%;
      }
    }
  }
  &__two-buttons {
    display: inline-flex;
    column-gap: 24px;
    row-gap: 12px;
    align-items: flex-end;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__button {
    padding: 15px 35px;
    margin-top: 40px;
    @media screen and (max-width: 767px) {
      margin-top: 28px;
    }
    &_purple {
      background-color: $purple-color;
      margin: 0;
    }
  }
  &__product-block {
    display: grid;
    grid-template:
        "featured description description" auto
        "featured image1 image2" auto / 1fr 1fr 1fr;
    column-gap: 30px;
    @media screen and (max-width: 767px) {
      grid-template:
      "description"
      "featured";
    }
  }
  &__brands {
    display: flex;
    column-gap: 60px;
    row-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 48px;
    border-top: 2px solid #454153;
  }
  &__two-images {
    display: flex;
    column-gap: 5.26%;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 50px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 43.6px;
    }
    & img {
      width: 100%;
      min-width: 0;
    }
  }
  &_pt-big {
    padding-top: 150px;
    @media screen and (max-width: 767px) {
      padding-top: 55px;
    }
  }
  &_pt-medium {
    padding-top: 100px;
    @media screen and (max-width: 767px) {
      padding-top: 55px;
    }
  }
  &_pb-big {
    padding-bottom: 150px;
    @media screen and (max-width: 767px) {
      padding-bottom: 100px;
    }
  }
  &_pb-medium {
    padding-bottom: 100px;
    @media screen and (max-width: 767px) {
      padding-bottom: 55px;
    }
  }
}

.numbers {
  &__row {
    gap: 15px;
    align-items: baseline;
    @media screen and (max-width: 767px) {
      align-items: center;
    }
  }
}

.message-block {
  &__occupation {
    font-size: 14px;
    line-height: 24px;
    color: $second-black-color;
  }
  &__name {
    font-weight: 600;
  }
  &__button {
    background-color: $purple-color;
    padding: 0.44em 1.33em;
    margin-top: 0.88em;
  }
}

.product-block {
  &__featured {
    grid-area: featured;
    margin-top: auto;
    margin-bottom: auto;
    & > img {
      width: 100%;
      height: auto;
    }
  }
  &__description {
    grid-area: description;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 70px;
    @media screen and (max-width: 767px) {
      margin-bottom: 57px;
    }
  }
  &__arrows {
    display: flex;
    gap: 28px;
    @media screen and (max-width: 767px) {
      margin-top: 28px;
    }
  }
  &__circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    &_white {
      background-color: $first-white-color;
    }
    &_orange {
      background-color: $orange-color;
    }
    &_purple {
      background-color: $purple-color;
    }
  }
  &__button {
    padding: 15px 35px;
    margin-top: 55px;
  }
  &__another {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.featured-item {
  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: $first-black-color;
  }
  &__currency {
    color: $orange-color;
  }
  &__name {
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: $first-black-color;
  }
}

.video-block {
  &__description {
    margin-bottom: 70px;
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 767px) {
      margin-bottom: 28px;
    }
  }
}

.reviews-block {
  &__review {
    position: relative;
    max-width: 598px;
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 48px;
    @media screen and (max-width: 1279px) {
      // margin-bottom: 38px;
      margin-top: 28px;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      background: #454153;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      content: url(/assets/img/quote.svg);
    }
  }
  &__author {
    display: flex;
    column-gap: 14px;
    margin-top: 22px;
    @media screen and (max-width: 767px) {
      margin-top: 16px;
    }
  }
  &__navigation-dots {
    display: flex;
    column-gap: 12px;
    margin-top: 18px;
    @media screen and (max-width: 767px) {
      margin-top: 8px;
    }
  }
  &__dot {
    box-sizing: border-box;
    width: 24px;
    height: 6px;
    border: 1px solid $first-white-color;
    border-radius: 3px;
    cursor: pointer;
    &_active {
      background: $orange-color;
      border: 1px solid $orange-color;
    }
  }
}

.review {
  &__occupation {
    font-size: 16px;
    line-height: 26px;
  }
}

.footer {
  &__logo {
    display: flex;
    gap: 6px;
  }
  &__button {
    padding: 15px 35px;
    font-size: 18px;
    line-height: 28px;
  }
  &__email-subscription {
    width: 178px;
    padding: 15px;
    outline: 1px solid #CDC9BB;
    border: 0;
    border-radius: 6px;
    background-color: #FFFAE9;
    color: #666270;
    font-size: 18px;
    line-height: 28px;
  }
  &__links-block {
    display: flex;
    // flex-wrap: wrap;
    column-gap: 100px;
    @media screen and (max-width: 1279px) {
      margin-bottom: 36px;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    & a {
      display: block;
    }
  }
  &_top {
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 89px;
    padding-bottom: 38px;
    border-top: 1px solid #CDC9BB;
    border-bottom: 1px solid #CDC9BB;
    @media screen and (max-width: 1279px) {
      padding-top: 0;
      flex-direction: column;
    }
  }
  &_bottom {
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__social-media {
    display: inline-flex;
    gap: 14px;
    @media screen and (max-width: 767px) {
      margin-bottom: 18px;
    }
  }
}

.email-block {
  @media screen and (max-width: 1279px) {
    order: 2;
  }
  &__text {
    padding-top: 18px;
    padding-bottom: 21px;
  }
  &__subscribe {
    display: inline-flex;
    gap: 19px;
    @media screen and (max-width: 374px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.links {
  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 24px;
    @media screen and (max-width: 1279px) {
      margin-top: 28px;
    }
  }
  &__name:not(:last-of-type) {
    margin-bottom: 18px;
  }
}

.social-media {
  &__circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $purple-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &_orange {
      background-color: $orange-color;
    }
  }
}